
<!-- Page for personal information -->
<form>

    <div class="row">

        <label for="name">Your Name</label>
        
        <div class="col">
          <input type="text" class="form-control">
          <small>First Name</small>
        </div>

        <div class="col">
            <input type="text" class="form-control">
            <small>Last Name</small>
        </div>
        
      </div>
      <br>

      <label for="email">Email</label>
      <input type="email" class="form-control">

</form>
