
<!-- bug information form -->
<form>
    <br>
    <label for="list">Impact</label>

    <select name="impact" class="form-control">
        <option value="low">Low</option>
        <option value="mid">Medium</option>
        <option value="High">High</option>
    </select>
 
    <br><br>
    <label for="datetime">Date and Time you first notice Bug*</label><br>
    <br>

    <input type="date"><br><br>
    <input type="time"><br><br>
    
    <br>
    <label for="info">Detailed explaination of Bug*</label>
    <br><br>
    <textarea name="info" class="form-control" cols="30" rows="5"></textarea>
</form>